@model RecipeBook.Models.RecipeIngredients

@{
    ViewData["Title"] = "Edit";
}
<style>
    body {
        background-image: url('https://scontent.fsof9-1.fna.fbcdn.net/v/t1.15752-9/186141382_462260254872690_6777040315924265316_n.png?_nc_cat=104&ccb=1-3&_nc_sid=ae9488&_nc_ohc=IBDZqebWLqIAX8nbUsJ&_nc_ht=scontent.fsof9-1.fna&oh=34c765094b35fb862cb1379f6091eb79&oe=60D3269F');
        background-size: 100% 100%;
    }
</style>
<br />
<h1>Edit recipe's ingredient</h1>
<div>
    <a asp-action="Index">
        <img src="https://media.discordapp.net/attachments/822377148144812042/846869808740827206/60577.png"
             width=30 height="20">
    </a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RecipesId" class="control-label"></label>
                <select asp-for="RecipesId" class="form-control" asp-items="ViewBag.RecipesId"></select>
                <span asp-validation-for="RecipesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IngredientsId" class="control-label"></label>
                <select asp-for="IngredientsId" class="form-control" asp-items="ViewBag.IngredientsId"></select>
                <span asp-validation-for="IngredientsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label"></label>
                <input asp-for="Unit" class="form-control" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
